@font-face {
  font-family: essay;
  src: url(../fonts/essay.ttf);
}

@font-face {
  font-family: essay-bold;
  src: url(../fonts/essay-bold.ttf);
}

body {
	font-family: essay;
	margin: 0;
}

.background {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	z-index:-1;
	background-image: url("../img/library.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

h1,h2,h3,h4,h5,h6 {
	font-family: essay;
}

#menu {
	margin-top: 10px;
	text-align: center;
	height: 120px;
}

#menu a{ 
	color: #707B7C;
	font-size: 30px;
	margin: 0 10px;
}

#header {
	text-align: center;
}