body {
	background: #F8F9F9;
}

#header h3, h6 {
	margin: 0;
}

#header {
	width: 300px;
	display: inline-block;
}

#options {
	vertical-align:top;
	display: inline-block
}

#options a {
	text-decoration: none;
	color: #7F8C8D;
	font-size: 20px;
	margin-right: 30px;
}

#options a:hover {
	color: #626567;
}

#license {
    position: fixed;
    bottom: 0;
    width: 100%;
}