<!DOCTYPE html>
<html>
	<head>
		<!--background img src https://unsplash.com/photos/YLSwjSy7stw-->
		<!--book icn src https://visualpharm.com/free-icons/book-595b40b65ba036ed117d1245-->
		<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
		<link rel="stylesheet" href="static/css/main.css{{'?u=' + last_updated}}"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<title>Evelina</title>
		<link rel="shortcut icon" href="static/img/favicon.ico"/>
	</head>
	<body>
		<div class="background"></div>
		<a id="github" href="https://github.com/danwaterfield/Evelina"><img src="static/img/github.svg" /></a>
		<div id="header">
			<h1>Evelina</h1>
			<h4>a project by Dan Waterfield and Jacob W.</h4>
			<h2>Get Started</h2>
		</div>
		<a id="license" href="https://choosealicense.com/licenses/mit/">License</a>
	</body>
</html>