<!DOCTYPE html>
<html>
	<head>
		<!--background img src https://unsplash.com/photos/YLSwjSy7stw-->
		<link rel="stylesheet" href="https://unpkg.com/wingcss"/>
		<link rel="stylesheet" href="static/css/main.css{{'?u=' + last_updated}}"/>
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	</head>
	<body>
		<div class="background">
		</div>
		<div id="menu">
			<a href="/about">about</a>
			<a href="/guide">guide</a>
			<a href="/github">github</a>
		</div>
		<div id="header">
			<h1>Evelina</h1>
			<h3>a project by Dan and Jacob </h3>
		</div>
	</body>
</html>